<form class="ui form" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="field">
    <label for="name">Nom</label>
    <input type="text" id="name" name="name" placeholder="Nom"
          [(ngModel)]='newUser.name' required #nameField="ngModel"
          [class.user-field-error]="form.submitted && nameField.invalid"/>
    <div [hidden]="!form.submitted || nameField.valid" class="ui red pointing label">
      Merci d'entrer un nom
    </div>
  </div>
  <div class="field">
    <label for="age">Age</label>
    <input type="number" name="age" id="age" placeholder="Age"
          [(ngModel)]='newUser.age'required #ageField="ngModel"
          pattern="(1[89]|[2-5][0-9]|6[0-5])"
          [class.user-field-error]="form.submitted && ageField.invalid"/>
    <div [hidden]="!form.submitted || ageField.valid" class="ui red pointing label">
      Merci d'entrer un age entre 18 et 65 ans
    </div>
  </div>
  <div class="field">
    <label for="job">Poste</label>
    <select class="ui fluid dropdown" name="job" id="job"
          [(ngModel)]='newUser.job' required #jobField="ngModel"
          [class.user-field-error]="form.submitted && jobField.invalid">
      <option value="">Poste...</option>
      <option value="CDP">Chef de projet</option>
      <option value="ARC">Architecte</option>
      <option value="DEV">D&eacute;veloppeur</option>
      <option value="REC">Testeur</option>
    </select>
    <div [hidden]="!form.submitted || jobField.valid" class="ui red pointing label">
      Merci d'entrer un poste
    </div>
  </div>
  <div class="field">
    <label for="rating">Note</label>
    <input type="range" name="rating" id="rating" placeholder="Note"
            [(ngModel)]='newUser.rating'required #ratingField="ngModel"
            pattern="^[1-9]\d*$" max="5"
            [class.user-field-error]="form.submitted && ratingField.invalid"/>
  </div>
  <div [hidden]="!form.submitted || ratingField.valid" class="ui red pointing label">
    Merci d'entrer une note sup&eacute;rieure à 0
  </div>
  <h4 class="ui dividing header">Comp&eacute;tences</h4>
  <div class="inline fields">
    <div class="field">
      <div class="ui left compact segment">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="jee" id="jee"
              [(ngModel)]='newUser.jee'/>
          <label for="jee">JEE</label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui left compact segment">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="java" id="java"
                [(ngModel)]='newUser.java'/>
          <label for="java">Java</label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui left compact segment">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="soa" id="soa"
                  [(ngModel)]='newUser.soa'/>
          <label for="soa">SOA</label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui left compact segment">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="javascript" id="javascript"
                [(ngModel)]='newUser.javascript'/>
          <label for="javascript">Javascript</label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui left compact segment">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="angular" id="angular"
                [(ngModel)]='newUser.angular'/>
          <label for="angular">Angular</label>
        </div>
      </div>
    </div>
  </div>
  <div class="inline fields">
    <div class="field">
      <div class="ui left compact segment">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="junit" id="junit"
                [(ngModel)]='newUser.junit'/>
          <label for="junit">Junit</label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui left compact segment">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="selenium" id="selenium"
                [(ngModel)]='newUser.selenium'/>
          <label for="selenium">Selenium</label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui left compact segment">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="squash" id="squash"
                 [(ngModel)]='newUser.squash'/>
          <label for="java">Squash</label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui left compact segment">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="robot" id="robot"
                [(ngModel)]='newUser.robot'/>
          <label for="robot">Robot Framework</label>
        </div>
      </div>
    </div>
  </div>
  <div class="inline fields">
    <div class="field">
      <div class="ui left compact segment">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="cpp" id="cpp"
                [(ngModel)]='newUser.cpp'/>
          <label for="cpp">C++</label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui left compact segment">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="net" id="net"
                [(ngModel)]='newUser.net'/>
          <label for="net">.Net</label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui left compact segment">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="scrum" id="scrum"
                [(ngModel)]='newUser.scrum'/>
          <label for="scrum">Scrum</label>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui left compact segment">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="kanban" id="kanban"
                [(ngModel)]='newUser.kanban'/>
          <label for="kanban">Kanban</label>
        </div>
      </div>
    </div>
  </div>
  <button class="ui primary button">
    Save
  </button>
</form>
