<div class="ui card" *ngIf='currentUser'> <!-- Appel asynch to get user so we
                                      cheeck to see if user is recupered before showing the page-->
  <div class="image">
    <img [src]='currentUser.userImage'>
  </div>
  <div class="content">
    <a class="header">{{currentUser.userName}}</a>
    <div class="meta">
      <span class="date">{{currentUser.userAge}}</span>
    </div>
    <div class="description">
      {{currentUser.userName}} travaille chez Ausy en tant que {{currentUser.userJob | lowercase}}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      Score {{currentUser.userRating}}
    </a>
  </div>
</div>
<button class="ui labeled icon button" (click)='onBack()'>
  <i class="left arrow icon"></i>
  Retour
</button>
<button class="ui labeled icon button" (click)='onHome()'>
  <i class="pause icon"></i>
  Accuil
</button>
